body {
    margin: 0;

    background: url(/content/imgs/bg/NaNScriptsBg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}