:root {
    --bgdUnder: 0s;
    --bgdMid: 1s;
    --bgdTop: 2.5s;
    --ctcDelay: 3s;

    --yellowTone: #b17123;
    --LightYellowTone: #d4882a; 
    --darkYellowTone: #925d1c;
    --yellowToneTrans: #b1712357;
    --darkYellowToneTrans: #754c1957;
    --yellowOutline: #000000;
}
* {
    outline: none;
}
body {
    background: black;
    margin: 0;
}
h1 {
    color: white;
}

span, p, h1 {
    color: var(--yellowTone);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    user-select: none;
}



.container {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    
    background: url(../../content/imgs/container/divContainer.png);
    box-shadow: 0px 0px 100px var(--yellowTone), 0px 0px 100px var(--yellowTone);
    display: flex;
    max-height: 0px;
    transition: max-height 5s;
    overflow: hidden;
    backdrop-filter: blur(20px);
    min-width: 0;
}

.modules {
    padding: 10px;
    padding-top: 0px; 
    width: 100%;
    flex-shrink: 3;
    text-align: center;
    text-shadow: 0px 0px 5px var(--yellowOutline), 0px 0px 5px var(--yellowOutline), 0px 1px 2px black;
    background: transparent;
    width: 100%;
    overflow: hidden;
    transition: background 1s, width 1s;
    min-width: 0;
}
.modules:not(.container :nth-child(1)) {
    border-left: solid 5px var(--yellowToneTrans);
}
.modules button {
    background: var(--yellowTone);
    border-radius: 28px;
    border: 1px solid var(--yellowToneTrans);
    margin-top: 10px;
    display: inline-block;
    cursor: pointer; 
    font-family: Arial;
    font-size: 15px;
    padding: 7px 15px;
    position: relative;
    top: 0;
    text-decoration: none;
    text-shadow:0px 0px 10px black;
    box-shadow: 0px 0px 5px var(--yellowOutline), 0px 0px 5px var(--yellowOutline);
    transition: .2s;
}
.modules button img {
    height: 13px;
    width: 13px;
    position: relative;
    bottom: -2px;
}
.modules button:hover {
    background: var(--LightYellowTone);
}
.modules button:not(.modules button:first-of-type) {
    margin-left: 10px; 
}
.modules button:active {
    background: var(--darkYellowTone);
    top: 1px;
}
.modules:hover{
    background: rgba(0, 0, 0, 0.671);
    width: 150%;
}
            
.modules textarea {
    resize: none;
    height: 250px;
    width: 350px;
    overflow: overlay; 
    border-radius: 2px;
    border: solid 2px var(--darkYellowToneTrans);
    background: var(--darkYellowTone);
    white-space: pre;
}

.modules .moduleSpanInfo {
    font-size: 14px;
}
.modules .moduleSpanInfo:not(.modules .moduleSpanInfo:last-of-type){
    margin-left: 20px;
}



.historyContainer{
    max-height: 340px;
    overflow-y: auto;
    border: solid 2px var(--yellowToneTrans);
    border-radius: 10px; 
}
.historyContainer:empty{
    display: none;
}
.historyFile {
    background: var(--yellowToneTrans); 
    padding: 5px; 
    cursor: pointer;
    min-width: 0;
    transition: background .5s;
}
.historyFile:hover {
    background: var(--darkYellowToneTrans);
}
.historyFile:active {
    background: var(--yellowTone);
}
.historyFile:not(.historyFile:last-of-type){
    margin-bottom: 5px;
}
.historyFile h1, .historyFile p {
    margin: 0;
    text-align: left;
}
.historyFile p:last-of-type{
    font-size: 14px; 
}
.historyFile h1{
    text-overflow: ellipsis;
    overflow: hidden; 
    max-width: 100%;   
    white-space: nowrap;
}



#bgdiv {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#bgdiv * { 
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#bgdiv img {
    height: 110%;
    opacity: 0; 
    transition: top 2s, left 2s;
}
#bgdiv :nth-child(1) {
    animation: fadeIn 3s normal;
    animation-fill-mode: forwards;    
}
#bgdiv :nth-child(2) {
    animation: fadeIn 4s normal;
    animation-fill-mode: forwards;  
    animation-delay: var(--bgdMid);
}
#bgdiv :nth-child(3) {
    animation: fadeIn 3s normal;
    animation-fill-mode: forwards; 
    animation-delay: var(--bgdTop);
}

#clickToContinue { 
    top: 20%;
    font-size: 250%;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 5px var(--yellowOutline), 0px 0px 5px var(--yellowOutline);
    transition: top 2s, left 2s;
    opacity: 0;
    animation: fadeIn 3s normal;
    animation-fill-mode: forwards; 
    animation-delay: var(--ctcDelay);
}
#bgdiv #realBg {
    opacity: 0;
    transition: opacity 2s;
}



.translationIcon { 
    margin: 10px;
    position: absolute;
    right: 0;
}
.translationIcon img {
    width: 30px;
    height: 30px;-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
.translationIcon button {
    background: var(--yellowTone);
    padding: 10px;
    border-radius: 50%;
    border: 1px solid var(--yellowToneTrans); 
    cursor: pointer; 
    font-family: Arial;
    font-size: 15px;
    position: relative;
    top: 0;
    text-decoration: none;
    text-shadow:0px 0px 10px black;
    box-shadow: 0px 0px 5px var(--yellowOutline), 0px 0px 5px var(--yellowOutline);
    transition: .2s;
}
.translationIcon button:hover {
    background: var(--LightYellowTone);
}
.translationIcon button:active {
    background: var(--darkYellowTone);
    top: 1px;
} 
.tranlateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../../content/imgs/container/divContainer.png);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 100px var(--yellowTone), 0px 0px 100px var(--yellowTone);
    margin-top: 10px;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px; 
    text-decoration: none;
    text-shadow:0px 0px 10px black;
    overflow-y: hidden;
    max-height: 0px;
    opacity: 0;
    pointer-events: none;
    transition: max-height 1s, opacity 2.5s;
}
.tranlateContainer button:not(.tranlateContainer button:last-of-type) {
    margin-bottom: 10px;
}


.nanScripts {
    position: fixed; 
    left: 0;
    bottom: 0;
    background: var(--yellowTone);
    padding: 3px;
    border: 1px solid var(--yellowToneTrans); 
    border-radius: 0 15px 0 0;
    cursor: pointer; 
    font-family: Arial;
    font-size: 15px; 
    text-decoration: none;
    text-shadow:0px 0px 10px black;
    box-shadow: 0px 0px 5px var(--yellowOutline), 0px 0px 5px var(--yellowOutline);
    transition: .2s;
}
.nanGit {
    position: fixed;
    right: 0;
    bottom: 0;
    background: var(--yellowTone);
    padding: 3px;
    border: 1px solid var(--yellowToneTrans); 
    border-radius: 15px 0 0 0;
    cursor: pointer; 
    font-family: Arial;
    font-size: 15px; 
    text-decoration: none;
    text-shadow:0px 0px 10px black;
    box-shadow: 0px 0px 5px var(--yellowOutline), 0px 0px 5px var(--yellowOutline);
    transition: .2s;
}
.nanGit span, .nanScripts span {
    color: white;
    cursor: pointer; 
    font-size: 13px;
    font-weight: normal;
}


::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar:hover {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #ff8c009c;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #e08312;
}
::-webkit-scrollbar-corner{
    background: transparent;
}
::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 10px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}